parameters:
    parallel:
        maximumNumberOfProcesses: 1
    level: 9
    paths:
        - src
        - tests

services:
    errorFormatter.sarif:
        class: PHPStanSarifErrorFormatter\SarifErrorFormatter
        arguments:
            relativePathHelper: @simpleRelativePathHelper
            currentWorkingDirectory: %currentWorkingDirectory%
            pretty: true
